
  @keyframes show {
    0% {
      scale: 0;
    }
    60% {
      scale: 1.2;
    }
    100% {
      scale: 1;
    }
  }
  .List {
    inset: "none";
    animation: show 0.5s 1;
  }

  @keyframes mymove {
    0% {
      scale: 0;
    }
  
    60% {
      scale: 1.2;
    }
  
    100% {
      scale: 1;
    }
  }
  .logout {
    background-color: rgba(40, 40, 48, 0.91);
    animation: mymove 0.50s 1;
    backdrop-filter: blur(4px);
    z-index: 11;

  }